@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-ExtraLight.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Black.ttf");
  font-weight: 900;
}

.App {
  @apply font-Poppins overflow-x-hidden;
}

/* --Common */

.card {
  @apply bg-white shadow-lg rounded-lg overflow-hidden px-5 py-3;
}

h1 {
  @apply text-6xl font-bold leading-relaxed text-center py-28;
}

h2 {
  @apply text-4xl font-bold leading-relaxed;
}

.button {
  @apply w-52 h-16 font-bold text-3xl rounded-lg flex items-center justify-between px-5 py-3 shadow-lg hover:opacity-80 active:opacity-70;
}
/* --Navbar-- */

.navbar {
  @apply px-5 py-3;
}

.navbar ul {
  @apply flex flex-row justify-end gap-8;
}

.navbar ul li a {
  @apply font-bold text-base hover:underline hover:cursor-pointer;
}

.drop-down-projects {
  @apply absolute flex gap-10 items-center -translate-x-1/2 z-50;
  animation: drop-down-projects 0.3s ease-in-out;
}

@keyframes drop-down-projects {
  0% {
    opacity: 0;
    transform: translate(-50%, -10px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0px);
  }
}

.drop-down-projects > div {
  @apply flex flex-col gap-5;
}

.drop-down-projects a {
  @apply block text-sm font-bold hover:underline;
}

.drop-down-projects p {
  @apply text-[10px] font-normal;
}

/* --Hero-- */
.hero {
  @apply flex items-center justify-center w-screen h-auto py-20 gap-28;
}

/* Section */

.title {
  @apply flex items-center gap-5 justify-center py-8;
}

.section {
  @apply flex flex-col items-center justify-center px-10 pb-10;
}

.section p {
  @apply text-start  text-3xl;
}

.section > div {
  @apply flex items-center justify-center gap-20;
}

.part {
  @apply flex flex-col gap-10 w-1/3;
}

/* Social impact */

.sectionSocialImpact {
  @apply flex flex-col justify-center px-44;
}

.sectionSocialImpact > p {
  @apply text-start text-xl;
}

/* team */

.sectionOurTeam {
  @apply flex flex-col items-center justify-center px-44;
}

.sectionOurTeam > div {
  @apply flex items-center justify-center gap-7;
}

.sectionOurTeam .card {
  @apply flex items-center justify-between flex-wrap w-80 h-40 text-2xl font-bold;
}

.sectionOurTeam .card > div {
  @apply w-20 h-20 rounded-full overflow-hidden;
}

.sectionOurTeam .card > p {
  @apply text-center w-48;
}

/* footer */

.footer {
  @apply flex  items-center justify-center gap-3 py-10;
}
